.btnAdd
{
    width: 50%;
} 
.page-holder 
{
  min-height: 100vh;  
} 
.bg-cover 
{
    background-size: cover !important;
}
.form-container .btn:hover
{
  opacity: 1;
}
.imgCat
{
  width: 50px;
  height: 50px;
  margin: 4px;
}
.fa-medrt, .fa-calendar
{
  padding: 8px;
  color: #04AA6D;  
}
/*FADE BG */ 
.fullscreen-container 
{
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(214, 192, 30, 0.27);
  z-index: 9999;
}
#terminedInfo
{
  display: none;
}
#addForm, #editForm
{
  display: none;
  position: fixed;
  top: 20%;
  height: 70%;
  right: 45%;
  position: fixed;
  overflow: auto;
  max-width: 300px;
  padding: 10px;
  background-color: whitesmoke;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
table
{
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
.fa-filter
{
  cursor: pointer;
}
input[type='radio']
{
  color: #07ad15;
}
input::placeholder 
{
  font-size: 1.2em;
}
.fa-checked
{
  size: 20px;
  position: center;
}
.rowCh
{
  cursor: pointer;
}
.checked
{
  background-color: #567d1498;
}
.unchecked
{
  background-color: #090d018a;
}
#welcomeInfo
{
  color: rgb(32, 33, 33);
  font-size: 40px;
}
select:hover
{
  box-shadow: 0 0 10px 100px #07ad15 inset;
}
.input-container 
{
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}
.icon 
{
  padding: 10px;
  background: #07ad15;
  color: white;
  min-width: 50px;
  text-align: center;
}
.input-field
{
  width: 100%;
  padding: 10px;
  outline: none;
}
.input-field:focus 
{
  border: 2px solid #07ad15;
}
.toast-header
{
  background-color: #07ad15;
}

